/* Flat Colors */

/* Greens */
.color-turquoise
{
  color: turquoise;
}

.color-green-sea
{
  color: #16A085;
}

.color-flat-emerald
{
  color: #2ECC71;
}

.color-flat-nephritis
{
  color: #27AE60;
}

/* Blues */
.color-peter-river
{
  color: #3498DB;
}

.color-belize-hole
{
  color: #2980B9;
}

.color-wet-asphalt
{
  color: #34495E;
}

.color-midnight-blue
{
  color: #2C3E50;
}


/* Purples */
.color-amethyst
{
  color: #9B59B6;
}

.color-wisteria
{
  color: #8E44AD;
}

/* Yellows */
.color-sunflower
{
  color: #F1C40F;
}

/* Oranges */
.color-orange
{
  color: #F39C12;
}

.color-carrot
{
  color: #E67E22;
}

.color-pumpkin
{
  color: #D35400;
}

/* Reds */
.color-alizarin
{
  color: #E74C3C;
}

.color-pomegranate
{
  color: #C0392B;
}

/* Grays */
.color-clouds
{
  color: #ECF0F1;
}

.color-silver
{
  color: #BDC3C7;
}

.color-concrete
{
  color: #95A5A6;
}

.color-asbestos
{
  background-color: #7F8C8D;
}

/* Flat Background Colors  */

/* Greens */
.background-color-turquoise
{
  background-color: turquoise;
}

.background-color-green-sea
{
  background-color: #16A085;
}

.background-color-flat-emerald
{
  background-color: #2ECC71;
}

.background-color-flat-nephritis
{
  background-color: #27AE60;
}

/* Blues */
.background-color-peter-river
{
  background-color: #3498DB;
}

.background-color-belize-hole
{
  background-color: #2980B9;
}

.background-color-wet-asphalt
{
  background-color: #34495E;
}

.background-color-midnight-blue
{
  background-color: #2C3E50;
}


/* Purples */
.background-color-amethyst
{
  background-color: #9B59B6;
}

.background-color-wisteria
{
  background-color: #8E44AD;
}

/* Yellows */
.background-color-sunflower
{
  background-color: #F1C40F;
}

/* Oranges */
.background-color-orange
{
  background-color: #F39C12;
}

.background-color-carrot
{
  background-color: #E67E22;
}

.background-color-pumpkin
{
  background-color: #D35400;
}

/* Reds */
.background-color-alizarin
{
  background-color: #E74C3C;
}

.background-color-pomegranate
{
  background-color: #C0392B;
}

/* Grays */
.background-color-clouds
{
  background-color: #ECF0F1;
}

.background-color-silver
{
  background-color: #BDC3C7;
}

.background-color-concrete
{
  background-color: #95A5A6;
}

.background-color-asbestos
{
  background-color: #7F8C8D;
}

